<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#DB0000" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <!-- Skip to Content -->
    <a href="#maincontent" class="skip-link">Skip to Content</a>

    <!--mulai Membuat navbar--->
    <header>
      <div class="container">
        <nav class="navbar">
          <a href="#" class="nav-branding">Restaurant APP</a>
          <a class="hamburger" href="#">☰ </a>
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="#/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#/favorite" class="nav-link">Favorite</a>
            </li>
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/juan-steiven-107843231" class="nav-link">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!--Akhir membuat navbar-->
    <div class="jumbotron">
      <img src="./images/heros/hero-image_1.jpg" alt="" />
    </div>

    <!--membuat main--->
    <main id="maincontent">
      <section class="content">
        <div class="headline-content">
          <h1 tabindex="0" class="headline-title">Explor Restaurant</h1>
          <div class="card"></div>
        </div>
      </section>
    </main>
    <!--Akhir membuat main-->
    <footer>
      <div class="title-footer">
        <p tabindex="0">Copyright &copy; 2020 - Hunger Apps</p>
      </div>
    </footer>
  </body>
</html>
